{% extends 'main/baselog.html'%}
{% load static %}

{% block title%}
Авторизация
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
{% endblock %}

{% block login%}
         <br>
		 <h2 class="post-cat", align="center">Авторизация</h2>
		 <br>
    <div class="post-wrap">
        <div class="large-offset-3 large-6 colums">
            <form action="" method="post">

                {% csrf_token %}
                  <input type="text" placeholder="Введите имя пользователя" name="username" id="username">
                  <label for="username"><b>&nbsp; Имя пользователя</b></label><br>
                  <input type="password" placeholder="Введите пароль" name="password" id="password">
                  <label for="password"><b>&nbsp; Пароль</b></label>
                {% if login_error %}
                    <label class="error">{{login_error}}</label>
                {% endif %}<br>
                  <input type="submit" value="Войти"><br>
            </form><br><br><br><br><br><br><br><br>
        </div>
    </div>
{% endblock %}