{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block style %}{% endblock %}
</head>

<body>
    <div class="header">
        <br>
      <h1>Нет времени объяснять,</h1>
        <h1>сокращай! ;)</h1>
    </div>


    <div class="navbar">
      <a href="{% url 'forum' %}">Главная</a>
      <a href="{% url 'profil' %}">Профиль</a>
      {% if user.is_loggin_in %}
         <a href="{% url 'register' %}">Регистрация</a>
      {% else %}
        {% if user.is_authenticated %}
          <a href="{% url 'logout' %}">Выйти ({{user.username}})</a>
        {% else %}
          <a href="{% url 'register' %}">Регистрация</a>
          <a href="{% url 'login' %}">Войти</a>
        {% endif %}
     {% endif %}
    </div>
<div>
<br>
</div>

        {% block login %}{% endblock %}

    <div class="footer">
      <h4>Добро пожаловать!</h4>
    </div>
</body>
</html>